body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 1rem;
	max-width: 50rem;
	text-align: left;
	line-height: 1.61;
	color: #4d5156;
}
a {
	color: #1a73e8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
nav a {
	margin-right: 1rem;
}
