body {
	font-family: system-ui;
	margin: auto;
	padding: 0 2rem;
	max-width: 36rem;
	text-align: left;
	line-height: 1.61;
	color: #4d5156;
}
h1 {
	font-family: monospace;
}
a {
	color: #1a73e8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
nav a {
	margin-right: 1rem;
}
