---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				I'm a creater and maker, runner, and hiker of mountains.
			</p>
			<p>
				In this blog, I intend to share my experiences, thoughts, and
				ideas about mechanical, electronic, and software engineering, as
				well as other topics that interest me such as philosophy and
				history.
			</p>
			<p>
				Those years, I have engaged in various activities, although most
				of them have not yielded significant results. Nevertheless, I
				have enjoyed exploring them, including:
			</p>
			<p>Mechanical Engineering</p>
			<ul>
				<li>Robot Operating System (ROS)</li>
				<li>Computer-Aided Design (CAD)</li>
				<li>3D Printing</li>
				<li>PLC Programming</li>
				<li>Embedded C Programming</li>
			</ul>
			<p>Electronics</p>
			<ul><li>Arduino</li> <li>Raspberry Pi</li></ul>
			<p>Software Engineering</p>
			<ul>
				<li>Emacs</li>
				<li>Vim</li>
				<li>Python</li>
				<li>TensorFlow</li>
				<li>ChatGPT</li>
				<li>C</li>
				<li>Linux</li>
				<li>OpenWrt as a network router</li>
			</ul>
			<p>
				I am also interested in philosophy and history, particularly
				eastern philosophy and ancient Chinese history. I believe that
				comprehending the past, as well as different ways of thinking,
				can help us tackle future challenges more effectively.
			</p>
			<p>
				Through this blog, I aim to share my knowledge and experiences
				with others while learning from their feedback and suggestions.
				I strongly believe that communication and collaboration can lead
				to greater success and positive impact in the world.
			</p>
		</main>
		<Footer />
	</body>
</html>
