---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Projects"
	description="projects i make"
	pubDate={new Date('March 14 2023')}
	updatedDate={new Date('March 14 2023')}
>
	<p>
		Here will place my projects.
		sucessful or not.
	</p>
</Layout>
