---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<span>
		{SITE_TITLE}
	</span>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<!-- <HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/podcast">Podcast</HeaderLink> -->
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
</header>

<style>
	header {
		margin-top: 2rem;
	}
	span {
		font-family: fantasy;
		font-size: x-large;
		font-weight: bold;
	}
</style>